<table>
    <tr>
        <td><a href="{{site.baseurl}}/prism/topicchatroom">Random Chatroom</a></td>
        <td><a href="{{site.baseurl}}/prism/dailyquestion">Daily Question</a></td>
        <td><a href="{{site.baseurl}}/prism/leaderboard">Leaderboard</a></td>
        <td><a href="{{site.baseurl}}/prism/feed">Feed</a></td>
        <td><a href="{{site.baseurl}}/prism/profile">Profile</a></td>   
        <td><a href="{{site.baseurl}}">World 5</a></td>
        <td><a href="{{site.baseurl}}">World 6</a></td>
    </tr>
</table>